@import url('https://fonts.cdnfonts.com/css/batman-forever');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #000;
    list-style: none;
    text-decoration: none;
    font-family: 'BatmanForeverOutline', sans-serif;
}

/* Início do cabeçalho*/
header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
}   

li:hover {
    color: #d21617;
    transform: scale(1.07);
}

#logo {
    width: 300px;
    height: auto;
    margin-top: 50px;
}
/*Fim de cabeçalho*/

/*Início do main*/
.content {
    width: 70%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    background-position: 50% 50%;
    margin-top: 70px;
    margin-left: 50%;
    transform: translate(-50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    background-color: transparent;
}

.bar {
    width: 40px;
    height: 10px;
    border: 2px solid #ffffff23;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
    background-color: transparent;
}

.bar:hover {
    background-color: #d21617;
    border: 2px solid #d21617;
    scale: 1.1;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 1000%;
    height: 100%;

}

.slide {
    width: 10%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -10%;
}

#slide3:checked ~ .s1 {
    margin-left: -20%;
}

#slide4:checked ~ .s1 {
    margin-left: -30%;
}

#slide5:checked ~ .s1 {
    margin-left: -40%;
}

#slide6:checked ~ .s1 {
    margin-left: -50%;
}

#slide7:checked ~ .s1 {
    margin-left: -60%;
}

#slide8:checked ~ .s1 {
    margin-left: -70%;
}

#slide9:checked ~ .s1 {
    margin-left: -80%;
}

#slide10:checked ~ .s1 {
    margin-left: -90%;
}
/*Fim do main*/

/*Início do rodapé*/
footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'BatmanForeverAlternate', sans-serif;
}

#dev-1 {
    margin-bottom: 20px;
    font-size: large;
}

#dev-2 {
    margin-bottom: 5%;
}

#dev-2 > a {
    font-family: "Anonymous Pro", monospace;
    color: #ff0000;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s;
}

#dev-2 > a:hover {
    color: #61afef;
    transform: scale(1.7);
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Fim do rodapé*/

@media(max-width: 768px) {
    /*Início do cabeçalho*/
    nav {
        display: none;
    }

    #logo {
        width: 300px;
        height: auto;
        margin-top: 90px;
    }
    /*Fim do cabeçalho*/

    /*Início do main*/
    .content {
        background-position: 50%;
        background-size: 100% 100%;
        width: 90%;
        height: 300px;
        margin-top: 100px;
    }

    .bar {
        width: 30px;
    }

    .bar:hover {
        background-color: transparent;
        border: 2px solid #ffffff23;
    }

    .const {
        height: 100%;
        margin-top: 70px;
    }

    h1 {
        font-size: larger;
    }
    /*Fim do main*/

    /*Início do rodapé*/
    .footer-navigation {
        display: block;
    }
    /*Fim do rodapé*/
}

@media(max-width: 568px) {
    /*Início do main*/
    .content {
        width: 95%;
    }
    
    .bar {
        width: 20px;
    }

    .bar:hover {
        background-color: transparent;
        border: 2px solid #ffffff23;
    }
     /*Fim do main*/
}

@media(max-width: 368px) {
     /*Início do main*/
    .bar {
        width: 15px;
    }

    .bar:hover {
        background-color: transparent;
        border: 2px solid #ffffff23;
    }
    /*Fim do main*/
}

